<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
        <servlet>
                <servlet-name>mainPage</servlet-name>
                <servlet-class>servlets.mainPage</servlet-class>
        </servlet>

        <servlet-mapping>
                <servlet-name>mainPage</servlet-name>
                <url-pattern>/mainPage</url-pattern>
        </servlet-mapping>
        
        <welcome-file-list>
                <welcome-file>mainPage</welcome-file>
        </welcome-file-list>
        
</web-app>